.categories {
  display: flex;
  justify-content: space-around;
}

.filtros {
  color: black; /*color de las letras del submenu de productos*/
  font-size: 20px;
  padding: 5px;
}
.filtros:hover {
  color: rgb(21, 219, 61);
}

.loading {
  width: 200px;
}
.container {
  border: 1px solid red;
}
.image {
  width: 80px;
  height: 80px;
}
