* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.categories {
  display: flex;
  justify-content: space-around;
}
.container {
  /*  border: 1px solid blue; */
}
.filtros {
  color: black; /*color de las letras del submenu de productos*/
  font-size: 20px;
  padding: 5px;
  /*   border: 1px solid green; */
  margin: 5px;
}
.filtros:hover {
  color: rgb(21, 219, 61);
}

.loading {
  width: 200px;
}
.containerCard {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid rgb(4, 4, 4);
  margin: 10px;
  padding: 5px;
  background-color: rgb(239, 230, 230);
  width: 200px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  transition: 0.2s;
  transform: translateY(-8px);
  filter: brightness(1.1);
}
.card:not(:hover) {
  transform: translateY(0);
  transition: 0.5s;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.title {
  font-size: 12px;
}
.description {
  font-size: 10px;
  color: rgb(82, 78, 78);
}
.image {
  width: 100%;
  height: 200px;

  border: 0.1px solid rgba(0, 0, 0, 0.359);
}
.price {
  font-size: 10px;
  position: relative;
  top: 25px;
  left: 160px;
  width: 65px;
}

/*boton de los filtros de las categorias*/
.filtros button {
  position: relative;
  background-color: rgb(241, 168, 115);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 5px;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.filtros button::before {
  content: "";
  background-color: rgb(100, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
  cursor: pointer;
}

.filtros button:hover::before {
  width: 100%;
  cursor: pointer;
}
/*boton de ver detalle*/
.btnDetail button {
  background: rgb(219, 207, 198);
  padding: 5px;
  font-size: 10px;
  border: 1px solid black;
  box-shadow: 0.1em 0.1em;
  color: black;
}

.btnDetail button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  cursor: pointer;
}

.btnDetail button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
