a {
  text-decoration: none;
}
/*Drawer*/
.drawer {
  background-color: rgba(0, 0, 0, 0.39); /*sombra al abrir el drawer*/
}
.backgroundDrawer {
  background-color: rgb(136, 79, 136);
}
/*navbar*/
.categories {
  border: 1px solid violet;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.categories a {
  margin: 10px;
}
