/*estilo de botones de toda la pagina*/
button {
  border: none;
  outline: none;
  background-color: rgb(241, 168, 115);
  padding: 5px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px rgb(241, 195, 161);
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
button:hover {
  cursor: pointer;
}

/*fondo de toda la pagina*/
.backgroundAllPage {
  background-color: rgba(246, 137, 4, 0.15);
}

a {
  text-decoration: none;
}

.containerMenuDrawer {
  /*separacion de las opciones del menu drawer*/
  margin-bottom: 20px;
  color: rgb(241, 168, 115);
}
.containerToolbar {
  /*parte superiior al abrir el menu*/
  /* background-image: url("https://res.cloudinary.com/difrhbjlk/image/upload/v1689621961/fondo_n2thhw.png"); */
  /* background-size: cover; */
}
.containerList {
  /*contenedor de la lista al abirr el menu*/
}
/*Drawer*/
.drawer {
  background-color: rgba(0, 0, 0, 0.39); /*sombra al abrir el drawer*/
}
.backgroundDrawer {
  background-color: rgb(136, 79, 136);
}
/*navbar*/
.categories {
  border: 1px solid violet;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.categories a {
  margin: 10px;
}
