/*fondo de toda la pagina*/
.backgroundAllPage {
  background-color: rgba(246, 137, 4, 0.15);
}

a {
  text-decoration: none;
}

.containerMenuDrawer {
  /*separacion de las opciones del menu drawer*/
  margin-bottom: 20px;
  color: rgb(241, 168, 115);
}
.containerToolbar {
  /*parte superiior al abrir el menu*/
  /* background-image: url("https://res.cloudinary.com/difrhbjlk/image/upload/v1689621961/fondo_n2thhw.png"); */
  /* background-size: cover; */
}
.containerList {
  /*contenedor de la lista al abirr el menu*/
}
/*Drawer*/
.drawer {
  background-color: rgba(0, 0, 0, 0.39); /*sombra al abrir el drawer*/
}
.backgroundDrawer {
  background-color: rgb(136, 79, 136);
}
/*navbar*/
.categories {
  border: 1px solid violet;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.categories a {
  margin: 10px;
}
