.cardDetailContainer {
  /* border: 2px solid blue; */
  padding: 5px;
}
.cardDetail {
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
}
.containerInfo {
  /* border: 2px solid black; */
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 25%;
  min-width: 250px;
  max-height: 280px;
  border: 1px solid rgb(0, 0, 0);
}
.title {
  font-size: 12px;
}
.description {
  font-size: 12px;
  border: 1px solid red;
}
.price {
  font-size: 10px;
}
.loading {
  width: 200px;
}
/*contador*/
.counterContainer {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(9, 9, 9, 0.141);
}
.counter {
  padding: 5px;
  display: flex;
  margin: auto;
}
.btnCart button {
  color: rgb(10, 9, 9);
  width: 200px;
  background-color: rgba(7, 7, 7, 0.229);
  width: 100px;
}
.btnMoreLess {
  color: rgb(10, 9, 9);
  width: 20px;
  margin: 10px;
  background-color: rgba(7, 7, 7, 0.229);
}
/*boton de volver*/
.btnBack {
  padding: 5px;
  margin-top: 5px;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: rgb(241, 168, 115);
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btnBack:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff0000;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btnBack:hover {
  background-color: #88048f;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btnBack:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btnBack:active {
  transform: scale(0.9);
}

/*responsive*/

@media (max-width: 767px) {
  .cardDetail {
    flex-direction: column;
  }
  .img {
    margin: auto;
    width: 200px;
    height: 250px;
  }
}
