.cardDetailContainer {
  /* border: 2px solid blue; */
  padding: 5px;
}
.cardDetail {
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
}
.containerInfo {
  /* border: 2px solid black; */
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 25%;
  min-width: 250px;
  max-height: 280px;
  border: 1px solid rgb(0, 0, 0);
}
.title {
  font-size: 12px;
}
.description {
  font-size: 12px;
  border: 1px solid red;
}
.price {
  font-size: 10px;
}
.loading {
  width: 200px;
}
/*contador*/
.counterContainer {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(9, 9, 9, 0.141);
}
.counter {
  padding: 5px;
  display: flex;
  margin: auto;
}
.btnCart button {
  color: rgb(10, 9, 9);
  width: 200px;
  background-color: rgba(7, 7, 7, 0.229);
  width: 100px;
}
.btnMoreLess {
  color: rgb(10, 9, 9);
  width: 20px;
  margin: 10px;
  background-color: rgba(7, 7, 7, 0.229);
}

/*responsive*/

@media (max-width: 767px) {
  .cardDetail {
    flex-direction: column;
  }
  .img {
    margin: auto;
    width: 200px;
    height: 250px;
  }
}
